.my-focus {
  margin-top: 35px;
  text-align: center;
}
.my-focus hr {
  width: 50%;
  height: 3px;
  margin: auto;
  background-color: #ccc;
}
.list-without-dots {
  list-style: none;
  font-size: larger;
  margin: auto;
  margin-top: 15px;
}

.list-without-dots li:before {
  content: none;
}

.list-without-dots li {
margin-top: 15px;
}
